<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- This permission is required to connect to the websocket server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.kitakkun.jetwhale.demo.DemoApplication"
        android:label="JetWhale Demo App">
        <activity
            android:name="com.kitakkun.jetwhale.demo.MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
