name: ABI Check

on: pull_request

jobs:
  check-legacy-abi:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run ABI check
        run: ./gradlew checkLegacyAbi
